<section id="fullwidthbanner-container" class="section fullwidthbanner-container hidden-xs colored-wrapper">
    <div class="fullwidthbanner">
        <ul>
            <!-- THE 1ST SLIDE -->
            <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300">
                <img src="/assets/slider-backgrounds/clouds-seamless-background-824.jpg" alt="Slide Image">
                <!--<div class="caption sft stt tp-caption start modern_big_bluebg"-->
                <div class="tp-caption sft stt modern_medium_fat"
                    data-x="255"
                    data-y="70"
                    data-speed="300"
                    data-start="2000"
                    data-easing="easeOutExpo">WELCOME TO</div>
                <!--<div class="caption sft stt tp-caption start modern_big_redbg" -->
                <div class="caption modern_big_bluebg sft stt tp-caption start"
                    data-x="5"
                    data-y="100"
                    data-speed="300"
                    data-start="2200"
                    data-easing="easeOutExpo">THE FLATIRON SHOWCASE</div>
                <div class="tp-caption sft stt modern_medium_light"
                    data-x="155" 
                    data-y="160"
                    data-speed="300"
                    data-start="2400"
                    data-easing="easeOutExpo">
                    <div style="text-align: right">
                        <p>Enjoy <span class="blue">AWESOME APPS</span></p>
                        <p>Flatiron students</p>
                        <p>have built within</p>
                        <p>60 days of programming</p>
                    </div>
                </div>
                <a href="/projects"
                    class="caption btn btn-flat flat-success btn-rounded sfb stb"  
                    data-x="262" 
                    data-y="304" 
                    data-speed="300"
                    data-start="3000"
                    data-easing="easeOutExpo">See the Projects!</a>
                <div class="caption boxshadow lfr ltr"
                    data-x="470" 
                    data-y="0" 
                    data-speed="900"
                    data-start="1200" 
                    data-easing="easeOutBack"><iframe width="711" height="400" src="https://www.youtube.com/embed/Q_4PA0I0TVM" frameborder="0" allowfullscreen></iframe></div>
           </li>
            <!-- THE 2ND SLIDE -->
            <li data-transition="cubic" data-slotamount="10" data-masterspeed="300">
                <img src="assets/slider-backgrounds/gears-background-1587.png" alt="Slide Image">
                <div class="caption modern_big_bluebg sft stt tp-caption start"
                    data-x="720"
                    data-y="30"
                    data-speed="300"
                    data-start="2500"
                    data-easing="easeOutExpo">MEET THE STUDENTS...</div>
                <div class="tp-caption sft stt testimonial-content"
                    data-x="720"
                    data-y="90"
                    data-speed="600"
                    data-start="2700"
                    data-easing="easeOutExpo">
                    We gathered bright and inquisitive minds<br>
                    from around the world, fed them a diet of Ruby,<br>
                    Rails, JavaScript, and SQL, and watched <br>
                    them bloom into full-stack junior devs. <br>
                    We couldn't be prouder. <br>
                    And we couldn't be more impressed with <br>
                    their accomplishments.
                </div>
                </span>
                <div class="caption btn btn-flat flat-success btn-rounded sfb stb"
                    data-x="720" 
                    data-y="325"
                    data-speed="300"
                    data-start="3100" 
                    data-easing="easeOutExpo"><a href="/students">View Student Profiles!</a>
                </div>
                <div class="caption boxshadow lfl ltr"
                    data-x="-50"
                    data-y="0"
                    data-speed="300"
                    data-start="2000"
                    data-easing="easeOutExpo"><%= image_tag "flatiron-students.jpg", width: '714px', height: '400px' %></div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner -->
</section>
<!-- /.fullwidthbanner-container -->
