<p>Select projects from your Github Repositories<p>

<div id="github_projects">
 <%= form_tag new_project_path, method: :get, remote: true do %> 
  <% @github_projects.each do |p| %>
   <%= check_box_tag("projects[]", p.id) %>
   <%= label_tag(p.name, p.name) %>
  <% end %>
   <%= submit_tag "Select"%>
 <% end %>
</div>

