// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tp-bannershadow.tp-shadow1 {
  display: none;
}

// FOR THE SHOWCASE
.longer-description {
  background: rgba(140, 140, 140, 0.8);
  height: 170px;
  overflow: auto;
  text-wrap: wrap;
  padding: 10px;
}

.visible-users {
  margin-right: 50px;
}

.testimonial-content {
  border-radius: 10px;
}

.display_name {
  border-radius: 8px;
}

.brief-description {
  font-size: 23px;
  border-radius: 8px;
}