<footer id="footer-2" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 footer-info-wrapper">
                <span>
                    Built with &hearts; by
                    <a href="http://github.com/amcaplan">amcaplan</a>
                    and
                    <a href="http://github.com/bokwon">bokwon</a>,
                    2014 at
                    <a href="http://flatironschool.com">The Flatiron School</a>
                </span>
            </div>
            <!-- /.footer-info-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>