<footer id="footer-1" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget about-us">
                    <span class="footer-brand"><span>The</span>Flatiron<span>Showcase</span></span>
                    <p>
                        We know how awesome Flatiron School students are, but we wanted
                        to share it with the world.  Check out what students have been
                        doing after just a few months of programming!
                    </p>
                </div>
                <!-- /.about-us -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-6">
                <div class="widget popular-posts">
                    <h5 class="subpage-title">Recent Projects</h5>
                    <ul class="recent-posts">
                        <% @recent_projects.each do |project| %>
                        <li>
                            <img src="<%= "#{project.screenshot_path}_thumb.png" %>" alt="<%= project.display_name %>">
                            <h5>
                                <%= link_to project.display_name, project %>
                                <small>Posted at <%= project.created_at %></small>
                            </h5>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <!-- /.popular-posts -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>