<footer id="footer-2" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 footer-info-wrapper">
                <span>
                    Built with &hearts; by
                    <%= new_tab_link 'Ariel Caplan', "http://github.com/amcaplan" %>
                    and
                    <%= new_tab_link 'Boyoung Kwon', "http://github.com/bokwon" %>,
                    2014 at
                    <%= new_tab_link "The Flatiron School", "http://flatironschool.com" %>
                </span>
            </div>
            <!-- /.footer-info-wrapper -->
        </div>
        <!-- /.row -->
        <br>
    </div>
    <!-- /.container -->
</footer>